<section class="calendarCard">
  <ol class="calendarCard--dayNames">
    <li ng-repeat="weekDay in weekDayNames">{{ ::weekDay }}</li>
  </ol>
  <ol class="calendarCard--days">
    <li data-date="{{ ::day.date }}"
      ng-click="selectDay(day)"
      ng-dblclick="openEventDetailsDialog(day.eventData)"
      ng-class="{'selected':day.isToday, 'eventDay': day.eventData, 'hasName': day.displayName, 'isFristDayOfEvent': day.isStartOfRange , 'isLastDayOfEvent': day.isEndOfRange }"
      ng-repeat="day in days"
      data-day-name="{{ ::day.name }}">
        <span ng-if="day.displayName" title="Kliknij dwukrotnie aby otworzyć szczegóły">{{ ::day.eventData.name }}</span>
      </li>
  </ol>
</section>