<header>
  <aside>
    <h1>{{ calendar.localeData.months(calendar.selectedDate) }}</h1>
    <h2>{{ calendar.selectedDate.toDate() | date: 'yyyy'}}</h2>
  </aside>

  <section>
    <button class="btn btn--create"
      title="Dodaj" 
      ng-click="calendar.openCreateEventDialog()">Dodaj</button>
  </section>

  <nav>
    <ul>
      <li>
        <button class="btn btn--prev"
          title="Poprzedni" 
          ng-click="calendar.displayPreviousMonth()">Poprzedni</button>
      </li>
      <li>
        <button class="btn btn--current"
          title="Dziś" 
          ng-click="calendar.displayCurrentMonth()">Dziś</button>
      </li>
      <li>
        <button class="btn btn--next"
          title="Następny" 
          ng-click="calendar.displayNextMonth()">Następny</button>
      </li>
    </ul>
  </nav>
</header>

<section>
  <calendar-card days="calendar.days" selected-date="calendar.selectedDate" />  
</section>