body {
  background-color: #fff;
}

%col7Grid {
  padding: 0;
  margin: 0;
  display:flex;
  flex-wrap: wrap;
  
  li {
    width: calc(100% / 7);
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    text-align: right;
    list-style: none;
    position: relative;
  }
}

$dayNamesHeight: 29px;

.calendarCard {
  height: 100%;
}

ol.calendarCard--dayNames {
  @extend %col7Grid;
  border-bottom: 1px solid #c7c7cc;
  height: $dayNamesHeight;
}

ol.calendarCard--days {
  @extend %col7Grid;
  height: calc(100% - #{$dayNamesHeight} - 1px);

  li {
    border-right: 1px solid #e6e5e6;
    border-bottom: 1px solid #e6e5e6;
    color: #c3c3c3;
    font-size: 12px;
    user-select: none; 

    &:after {
      content: attr(data-day-name);
      position: absolute;
      top: 5px;
      right: 10px;
    }

    &.eventDay {
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        display: flex;
        box-sizing: border-box;
        height: 45%;
        background-color: #a2de7d;
        position: absolute;
        top:30%;
        left: -1px;
        right: 0;
        align-items: center;
        padding: 5px;
      }

      &.hasName {
        display: flex;
        vertical-align: middle;

        span {
          font-size: 1.5em;
          color: #fff;
          width: calc(100vw / 7 * 2);
          box-sizing: border-box;
          z-index: 1;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          padding-left: 5px;
        }
      }

      &.isFristDayOfEvent {
        &:before {
          left: 10px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        span {
          padding-left: 15px;
        }
      }

      &.isLastDayOfEvent {
        &:before {
          right: 10px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }

      &.isFristDayOfEvent.isLastDayOfEvent span {
        width: calc(100vw / 7)
      }
    }

    &.selected {
      outline: 3px solid #00aeef;
      color: #000;
      z-index: 1;
    }
  
    &:nth-child(7n-1), &:nth-child(7n) {
      background-color: #f5f5f5;
      color: #878787;
    }

    &:nth-child(7n) {
      border-right:0;
    }
  }
}

.ngdialog {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;

  %flatControl {  
    width: 100%;
    padding: 25px 50px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .ngdialog-close {
    background: url(../../assets/images/icon-close.svg) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: calc(100% + 15px);
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:before {
      content: '';
    }
  }

  .ngdialog-content {
    width: 710px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .ng-submitted .ng-invalid {
    color: #fd685b;
  }

  .row {
    border-bottom: 1px solid #e5e5e5;

    &:last-of-type {
      border-bottom: 0;
    }

    input {
      @extend %flatControl;
      width: 100%;
      font-size: 48px;    
    }
  
    textarea {
      @extend %flatControl;
      font-size: 24px;
    }

    &.row--dates {
      display: flex;

      input {
        width: 50%;
        font-size: 24px;

        &:first-of-type {
          border-right: 1px solid #e5e5e5;
        }
      }
    }

    &.row--button {
      position: relative;

      &, button, aside {
        width: 100%;
        height: 104px;
      }

      button, aside {
        transition: 0.6s;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        text-align: center;
        align-items: center;
      }

      &.message {
        button {
          transform: rotateY(180deg);
        }

        aside {
          transform: rotateY(0deg);
        }
      }

      button {
        transform: rotateY(0deg);
        @extend %flatControl;

        &:after {
          margin: 0 auto;
          content: '';
          width: 73px;
          height: 54px;
          background-size: contain;
          background: url(../../assets/images/icon-check-big.svg) no-repeat 50% 50%;
        }
      }

      aside {
        transform: rotateY(180deg);
        background-color: #dfdfdf;
        padding: 0 20px;

        p {
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }

  .eventDetails {
    position: relative;

    .row {
      border-bottom: 0;
      padding: 25px 25px 0 25px;
      font-size: 24px;

      &.row--name span {      
        font-size: 48px;
      }

      &.row--description {
        min-height: 15vh;
      }

      &.row--dates {
        border-bottom: 1px solid #e5e5e5;
        padding: 45px 25px 25px 25px;

        span {
          width: 50%;
          position: relative;

          &:before {
            content: attr(data-label);
            position: absolute;
            bottom: 100%;
            left: 0;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }

      &.row--button {
        button:after {
          background: url(../../assets/images/icon-trash.svg) no-repeat 50% 50%;
        }
      }
    }

    .eventDeleteConfirmation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: #fd685b;
      overflow: hidden;

      &:before {
        position:absolute;
        top: 50%;
        right: -15%;
        content: '';
        background: url(../../assets/images/icon-trash.svg) no-repeat 50% 50%;
        background-size: contain;
        width: 50%;
        height: 100%;

        opacity: .05;
      }

      header,
      footer {
        display: flex;
        align-items: center;

        button {
          border: 2px solid #fff;
          border-radius: 10px;
          padding: 2px 7px;
          font-size: 12px;

          &:before {
            display: inline-block;
            font-size: 10px;
            vertical-align: 1px;
            margin-right: 5px;
          }
        }
      }

      header {
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: center;

        button{
          background-color: #fff;
          color: #fd685b;
          margin-top: 15px;

          &:before {
            background: url(../../assets/images/icon-check-small.svg) no-repeat;
            background-size: contain;
            width: 12px;
            height: 12px;
            content: '';
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      footer {
        height: 70px;
        padding-left: 25px;

        button:before {
          content: '\274C';
        }
      }
    }
  }
}