body {
  background-color: #fff;
}

%col7Grid {
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  
  li {
    width: calc(100% / 7);
    list-style: decimal inside;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    list-style: none;
    position: relative;
  }
}

ol.calendarCard--dayNames {
  @extend %col7Grid;
}

ol.calendarCard--days {
  @extend %col7Grid;
}

.ngdialog {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;

  %flatControl {  
    width: 100%;
    padding: 25px 50px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .ngdialog-close {
    background: url(../../assets/images/icon-close-small.svg) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: calc(100% + 15px);
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:before {
      content: '';
    }
  }

  .ngdialog-content {
    width: 710px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .row {
    input {
      @extend %flatControl;
      width: 100%;
      font-size: 48px;    
    }
  
    textarea {
      @extend %flatControl;
      font-size: 24px;
    }
   
    &.row--dates {
      display: flex;
    
      input {
        width: 50%;
        font-size: 24px;

        &:first-of-type {
          border-right: 1px solid #e5e5e5;
        }
      }
    }

    &.row--button {
      position: relative;

      button {
        @extend %flatControl;
        background: url(../../assets/images/icon-check-small.svg) no-repeat 50% 50%;
        opacity: 1;
      }

      p {
        transition: opacity .4s;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #fdfdfd;
        z-index: 0;

        &.visible {
          z-index: 1;
        }
      }
    }
  }
}